@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Titan+One&display=swap');

:root {
    --color-cyan: #a5fff6;
    --color-yellow: #fdfcb0;
    --color-pink: #FFAFDF;
    --color-gray: #222627;
    --color-accent: #483b4d;

    --color-text-light: #ffffff;
    --color-text-dark: var(--color-gray);

    --font-heading: 'Titan One', 'Nunito', Helvetica, Arial, sans-serif;
    --font-heading-2: 'Agbalumo', 'Nunito', Helvetica, Arial, sans-serif;
    --font-text-big: 'Josefin Slab', 'Nunito', Helvetica, Arial, sans-serif;
    --font-text: 'Nunito', Helvetica, Arial, sans-serif;

    --max-width: 1920px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-size: clamp(0.8rem, 1.2rem, calc(0.25rem + 0.75vw));
    background-color: var(--color-yellow);
    font-family: var(--font-text);
    color: var(--color-text-dark);
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    flex: 1;
    width: 100%;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 4rem);
    max-width: var(--max-width);
    margin: 0 auto;
    flex: 1;
    z-index: 10;
}

main article {
    width: 100%;
    max-width: var(--max-width);
}

h1 {
    font-family: var(--font-heading);
    font-size: 4.5em;
    font-weight: 500;
    line-height: 0.9;
    margin: 0.5rem 0 0.5rem 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-heading-2);
    font-size: 3em;
    font-weight: 200;
    line-height: 1;
    margin: 0;
}

h3 {
    font-family: var(--font-text-big);
    font-size: 2.75em;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: 2.25em;
    margin: 0;
}

h5 {
    font-size: 2em;
    margin: 0;
}

h6 {
    font-size: 1.6em;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

p {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}