@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root {
    --color-pink: #ff9fc2;
    --color-yellow: #ffeaad;
    --color-navy: #1e3764;

    --color-text-light: #ffffff;
    --color-text-dark: var(--color-navy);

    --font-text: 'Nunito', 'Roboto', Helvetica, Arial, sans-serif;
    --font-heading: 'Titan One', 'Nunito', Helvetica, Arial, sans-serif;

    --max-width: 1100px;

    --spacing-1: 0.5rem;
    --spacing-2: 1rem;
    --spacing-3: 1.5rem;
    --spacing-4: 2rem;
    --spacing-5: 3rem;

    --rounding-1: 8px;
    --rounding-2: 16px;
    --rounding-3: 24px;
    --rounding-4: 32px;
}

* {
    box-sizing: border-box;
    corner-shape: squircle;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: var(--color-navy);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-family: var(--font-text);
    color: var(--color-text-light);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex: 1;
}

article {
    width: 100%;
    max-width: var(--max-width);
    margin-bottom: var(--spacing-4);
}

h1 {
    font-family: var(--font-heading);
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 0.9;
    margin: 1.2rem 0 0.2rem 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-heading);
    font-size: 4.6rem;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

h4 {
    font-size: 2.4rem;
    margin: 0;
}

h5 {
    font-size: 1.8rem;
    margin: 0;
}

h6 {
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

p {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
}

img {
    border-radius: var(--rounding-4);
}