.card {
    flex-direction: row;
    gap: 4rem;
    min-height: 48rem;
    text-align: justify;
}

.card > figure {
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: center;
}

.card > figure img {
    height: auto;
    object-fit: contain;
}

.card > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.card > div > * {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 640px) {
    .card {
        flex-direction: column;
        gap: 2rem;
        min-height: auto;
        text-align: left;
    }
}
