.bottom {
    margin-top: auto !important;
}

.link a {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    text-decoration: none;
    padding: 0.25em 0.5em;
    gap: 0.5em;
    border-radius: 1rem;
}

.icon-link a {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    text-decoration: none;
    padding: 0.25em;
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
}

.link:hover a,
.icon-link:hover a {
    animation: hoverTurn 200ms ease forwards;
}

@keyframes hoverTurn {
    0% {
        background-color: var(--color-gray);
        color: var(--color-yellow);
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        background-color: var(--color-gray);
        color: var(--color-yellow);
        transform: rotate(-3deg);
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0rem 2rem;
    min-width: 300px;
    min-height: 4.5rem;
    font-size: 1.5em;
    text-decoration: none;
    background-color: var(--color-accent);
    color: var(--color-yellow);
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    cursor: pointer;
    transition:
        scale 0.4s cubic-bezier(0.1, 1.25, 0.15, 1.2),
        gap 0.4s cubic-bezier(0.1, 1.25, 0.15, 1.2),
        letter-spacing 0.4s cubic-bezier(0.1, 1.25, 0.15, 1.2);
    letter-spacing: 0.02em;
}

.button:hover {
    scale: 1.025;
    gap: calc(0.5rem + 0.25em);
    letter-spacing: 0.05em;
}

.button .fas {
    font-size: 1em;
}


.button:active {
    scale: 0.975;
}

.button:disabled {
    opacity: 0.6;
    filter: grayscale(0.6);
    cursor: not-allowed;
    scale: 1;
}

.button-group {
    display: flex;
    width: 100%;
    gap: 0.6rem;
    justify-content: center;
}

.button-group .button {
    flex: 1;
}

.fas,
.fas::before {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 1em !important;
    height: 1em !important;
}

/* ── Cards ── */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    padding: 4rem;
    background: var(--color-cyan);
    color: var(--color-gray);
    border-radius: 2.5rem;
    box-shadow: 0.25rem 0.25rem 2rem rgba(100, 0, 0, 0.1), 0.5rem 0.5rem 4rem rgba(100, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(100, 0, 0, 0.1);
}

.card>* {
    z-index: 10;
}

.card>*:first-child {
    margin-top: 0;
}