.bottom {
    margin-top: auto !important;
}

.link a {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    text-decoration: none;
    padding: 0.25em 0.5em;
    gap: 0.5em;
    border-radius: 1rem;
}

.icon-link a {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    text-decoration: none;
    padding: 0.25em;
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
}

.link:hover a,
.icon-link:hover a {
    animation: hoverTurn 200ms ease forwards;
}

@keyframes hoverTurn {
    0% {
        background-color: var(--color-gray);
        color: var(--color-yellow);
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        background-color: var(--color-gray);
        color: var(--color-yellow);
        transform: rotate(-3deg);
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    gap: 0.5rem;
    text-decoration: none;
    padding: 0.5em 1em;
    background-color: var(--color-yellow);
    color: var(--color-gray);
    border: none;
    border-radius: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition:
        scale 0.4s cubic-bezier(0.1, 1.25, 0.15, 1.2),
        gap 0.4s cubic-bezier(0.1, 1.25, 0.15, 1.2),
        letter-spacing 0.4s cubic-bezier(0.1, 1.25, 0.15, 1.2);
    letter-spacing: 0.02em;
}

.button:hover {
    scale: 1.025;
    gap: calc(0.5rem + 0.25em);
    letter-spacing: 0.05em;
}

.button .fas {
    font-size: 1em;
}


.button:active {
    scale: 0.975;
}

.button:disabled {
    opacity: 0.6;
    filter: grayscale(0.6);
    cursor: not-allowed;
    scale: 1;
}

.button-group {
    display: flex;
    width: 100%;
    gap: 0.6rem;
    justify-content: center;
}

.button-group .button {
    flex: 1;
}

.fas,
.fas::before {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 1em !important;
    height: 1em !important;
}

/* ── Cards ── */
.card, [popover] {
    position: relative;
    background: var(--color-yellow);
    color: var(--color-gray);
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.card::before/*, [popover]::before*/ {
    box-shadow: 20pt 20pt 0 0 var(--color-yellow);
    mix-blend-mode: multiply;
    content: "";
    border-radius: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
}

.card>*:first-child {
    margin-top: 0;
}