#illustrations {
   display: flex;
   flex-wrap: wrap;
   gap: var(--spacing-5);
   margin-bottom: var(--spacing-4);
}

.illustration {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: var(--spacing-4);
   border-radius: var(--rounding-3);
   padding: var(--spacing-2);
   margin: 0;
}

.illustration:nth-child(even of .illustration) {
   flex-direction: row-reverse;
}

.illustration-image {
   display: flex;
   align-items: center;
   justify-content: center;
}

.illustration-info {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: var(--spacing-2);
}