/* ═══ Hero Section ═══ */
#hero {
   position: relative;
   min-height: 100vh;
   width: 100%;
   background: var(--color-cyan);
   overflow: hidden;
   display: flex;
   align-items: end;
   justify-content: center;
   z-index: 0;
}

#hero .wave-divider {
   z-index: 3;
}

#hero::after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 8rem;
   background: linear-gradient(to top, var(--color-yellow), transparent);
}

.hero-video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 0;
}

.hero-logo {
   position: absolute;
   top: 20%;
   left: 20%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   z-index: 0;
   filter: drop-shadow(0 0 1rem #ffffff80);
}

.hero-logo img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   z-index: 0;
}

/* ═══ Sections ═══ */
section .card {
   font-size: clamp(0.5rem, 1.5rem, calc(0.4rem + 1vw));
}

#introduction .card {
   height: 48rem;
   text-align: right;
}

#introduction .card::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to left, var(--color-cyan), transparent);
   z-index: 5;
}

#introduction .card::before {
   content: "";
   position: absolute;
   top: 0%;
   right: 0%;
   width: 200%;
   height: 300%;

   background: repeating-radial-gradient(circle at center,
         transparent 0rem,
         transparent 2.95rem,
         #8abdbc 3rem,
         #8abdbc 5.95rem,
         transparent 6rem);

   background-size: 100% 100%;
   animation: ripple-move 24s cubic-bezier(0.4, 0, 0.6, 1) infinite;
   will-change: background-size;
   transform: translateZ(0);
}

@keyframes ripple-move {
   0% {
      scale: 1;
   }

   50% {
      scale: 1.25;
   }

   100% {
      scale: 1;
   }
}

#portfolio .card {
   height: 24rem;
   text-align: center;
}

#about .card {
   height: 48rem;
   text-align: left;
}